rules_version = '2';

function isUserAuthenticated(userID) {
  return request.auth.uid == userID;
}

function existingData() {
  return resource.data;
}

function incomingData() {
  return request.resource.data;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{UserId} {
      allow read, write: if isUserAuthenticated(UserId)
    }
  }
}
